html {
  scroll-behavior: smooth;
}

#ticket-anchor, #urlsa-anchor, #urlsb-anchor, #result-anchor {
  scroll-margin-top: 140px;
}

.light .header {
    padding-top: 1rem;
    background-color: #f1f1f1;
    border-bottom: 5px groove #EFA13E;
    position: sticky;
    width: 100%;
    z-index: 2;
    top: 0;
}

.light .header ul {
  list-style: none;
  padding-left: 0px;
  padding-top: 10px;
}

.light .header ul li {
  float: left;
  margin-right: 25px;
}

.light .header ul li a {
  color: black;
  text-decoration: none;
}

.light .header ul li:hover {
  cursor: pointer;
  opacity: 0.5;
}

.light .footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #f1f1f1;
    color: white;
    border-top: 5px groove #EFA13E;

}

.light .header .img-container img {
    width: 10%;
    transition: 0.2s;
}

.light #main-div {
    padding-bottom: 30px;
    padding-top: 20px;
}

.light #main-div div.row:nth-child(2) label {
    text-align: center;
}

.light #main-div div.row:first-child {
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.light .label-container {
    text-align: center;
    font-weight: 700;
}

.light .checkbox {
    text-align: center;
}

.light .footer .footer-img img{
    width: 50%;
}

.light textarea.form-control {
    font-size: 14px;
}

.light #error-section {
    color: red;
    padding-top: 20px;
}

.light .result {
    margin-top: 20px;
}
.light .table th{
    text-align: center;
    font-weight: 500;
}

.light .table td {
    text-align: center;
    font-size: 12px;
}

.light .table tr > td:nth-child(3){
    text-align: center;
}

#img-theme {
  float: right;
}

#img-theme:hover {
  cursor: pointer;
}

#img-theme > img {
  height: 40px;
  width: 40px;
  transition: 0.2s;
}

#img-theme:hover img {
  height: 45px;
  width: 45px;
}


  input.form-control, textarea.form-control {
    margin-bottom: 15px;
  }

  .light .navigation-section ul {
    list-style: none;
    padding-left: 5px;
    
  }
  .light .navigation-section ul li:nth-child(even) {
    background-color: #e1e1e1;
  }
  
  .light .navigation-section ul li {
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
  }
  .light .navigation-section ul li:hover {
    cursor: pointer
  }

  .light .active-tab {
    border-top: 3px groove #EFA13E;
    border-bottom: 3px groove #EFA13E;
  }

  .light .buttons-section {
    padding-right: 20px;
    padding-bottom: 10px;
  }

  .light .buttons-section input {
    margin-left: 10px;
  }

  #switch-theme img:hover {
    cursor: pointer;
  }

  #generate-btn:disabled {
    cursor: not-allowed;
    background-color: #f7958e;
  }

  input[type="checkbox"] {
    cursor: pointer;
  }
  
  label {
    cursor: pointer;
  }

  @media only screen and (max-width: 600px) {

    #sticky-nav {
      display: none;
    }

    .header {
      padding-bottom: 20px;
    }

}

#show-final-result-options {
  width: 25%;
}

.alternative-buttons {
  display: none;
}

@media only screen and (max-width: 559px) {
  .alternative-buttons {
    display: block;
  }

  #switch-container {
    float: none;
    margin-top: 10px;
  }
}
