body.dark {
 background-color: #1F1D1E;
 color: white !important;
}

html {
  scroll-behavior: smooth;
}

#ticket-anchor, #urlsa-anchor, #urlsb-anchor, #result-anchor {
  scroll-margin-top: 140px;
}


.dark .header {
    padding-top: 1rem;
    background-color: #28292D;
    color: white;
    border-bottom: 5px groove #EFA13E;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 2;
}

.dark .footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #28292D;
    color: white;
    border-top: 5px groove #EFA13E;
}

.dark .header .img-container img {
    width: 10%;
    transition: 0.2s;
}

.dark #main-div {
    padding-bottom: 30px;
    padding-top: 20px;;
}

.dark .form-control {
  background-color: #28292d;
  color: white;
}

.dark #main-div div.row:nth-child(2) label {
    text-align: center;
}

.dark #main-div div.row:first-child {
    padding-bottom: 15px;
    margin-bottom: 10px;
}


.dark .label-container {
    text-align: center;
    font-weight: 700;
    
}

.dark .checkbox {
    text-align: center;
    color: white;
}

.dark .footer .footer-img img{
    width: 50%;
}

.dark textarea.form-control {
    font-size: 14px;
}

.dark #error-section {
    color: red;
    padding-top: 20px;
}

.dark .result {
    margin-top: 20px;
    color: white;
}
.dark .table th{
    text-align: center;
    font-weight: 500;
    color: white;
}

.dark .table td {
    text-align: center;
    font-size: 12px;
    color: white;
}

.dark .table tr > td:nth-child(3){
    text-align: center;
}

  .dark #error-section {
    color:white;
  }

  #generate-btn:disabled {
    cursor: not-allowed;
    background-color: #f7958e;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 

  .dark #result a {
    color: white;
  }

  .dark .navigation-section ul {
    list-style: none;
    padding-left: 5px;
    
  }
  .dark .navigation-section ul li:nth-child(even) {
    background-color: #28292d;
  }
  
  .dark .navigation-section ul li {
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
  }
  .dark .navigation-section ul li:hover {
    cursor: pointer
  }

  .dark .active-tab {
    border-top: 3px groove #EFA13E;
    border-bottom: 3px groove #EFA13E;
  }

  .dark .buttons-section {
    padding-right: 20px;
    padding-bottom: 10px;
  }

  .dark .buttons-section input {
    margin-left: 10px;
  }

  @media only screen and (max-width: 600px) {

    #sticky-nav {
      display: none;
    }

    .header {
      padding-bottom: 20px;
    }

}




.dark .header ul {
  list-style: none;
  padding-left: 0px;
  padding-top: 10px;
}

.dark .header ul li {
  float: left;
  margin-right: 25px;
}

.dark .header ul li a {
  color: white;
  text-decoration: none;
}

.dark .header ul li:hover {
  cursor: pointer;
  opacity: 0.5;
}

#show-final-result-options {
  width: 25%;
}

.alternative-buttons {
  display: none;
}

@media only screen and (max-width: 559px) {
  .alternative-buttons {
    display: block;
  }

  #switch-container {
    float: none !important;
    margin-top: 10px;
  }
}
